# Google OAuth
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
VITE_REDIRECT_URI=http://localhost:5173/auth/callback

# Salt Server
VITE_SALT_SERVER_URL=http://zklogin-prod-alb-1474010946.ap-northeast-2.elb.amazonaws.com/v1/salt

# Mysten Labs Prover
VITE_PROVER_URL=https://prover-dev.mystenlabs.com/v1

# Sui Network
VITE_SUI_NETWORK=devnet
VITE_SUI_RPC_URL=https://fullnode.devnet.sui.io
